<!DOCTYPE html>
<html>
    <head>
        <title>Analyze</title>
        
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />        
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/analyze.css" />      
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.16.custom.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorpicker.css" />
    </head>
    <body>
        <header>
            <div id="logo"></div>
            <div id="auth">
                <a>Settings</a>
                <a>Sign out</a>
            </div>
        </header>
        <div id="toolbar">
            <div class="common_layer_functions">
                <a id="show_all_layers">Show all</a>
                <a id="hide_all_layers">Hide all</a>
                <a id="add_layer">Add layer</a>
                <a href="{{ STATIC_URL }}test/test.csv">Download visible layers</a>
                <input type="checkbox" id="help" checked="" />
                <label for="help">Show help</label>
            </div>
        </div>
        <div id="map"></div>
        <div id="layers">
            <h3>Layers created:</h3>
            {% with geometry_type='point' color='#0000FF' name='point layer' %}
                {% include 'layer.html' %}
            {% endwith %}
            {% with geometry_type='polyline' color='#FF0000' name='polyline layer'%}
                {% include 'layer.html' %}
            {% endwith %}
            {% with geometry_type='polygon' color='#00FF00' name='polygon layer' %}
                {% include 'layer.html' %}
            {% endwith %}
        </div>
        <div id="feature_properties">
            <h3>Comments in visible features:</h3>
            <p class="help">You can click a comment to highlight it on the map</p>
            <div class="properties selected">
                <h5>User testuser say</h5>
                <p>I have a good feeling about his place just cannot explain it
                but very good.</p>
            </div>
            <div class="properties">
                <h5>User osama say</h5>
                <p>Nice place to hang around.</p>
            </div>
        </div>
        
        
        
        <!-- dialogs -->
        <div id="add_layer_dialog" class="dialog">
            {% with form_name='add_layer' %}
                {% include 'layer_form.html' %}
            {% endwith %}
        </div>
        <div id="edit_layer_dialog" class="dialog">
            {% with form_name='edit_layer' %}
                {% include 'layer_form.html' %}
            {% endwith %}
        </div>
        
        <div id="remove_layer_dialog" class="dialog">
            <p>Are you sure you want to remove the layer?</p>
        </div>
        <!-- end dialogs -->
        
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js">
        </script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.16.custom.min.js">
        </script>
        <script type="text/javascript" src="{{ STATIC_URL }}OpenLayers-2.11/OpenLayers.js">
        </script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/colorpicker.js">
        </script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/analyze.js">
        </script>
        <script type="text/javascript" src="{% url api_javascript %}">
        </script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/openlayers_analyze.js">
        </script>
    </body>
</html>